@font-face {
  font-family: "LemonMilk";
  src: url("../src/assets/fonts/LEMONMILK-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LemonMilk";
  src: url("../src/assets/fonts/LEMONMILK-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LemonMilk";
  src: url("../src/assets/fonts/LEMONMILK-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: "LemonMilk", sans-serif;
}
.App {
  text-align: center;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
