body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url('./assets/images/1000px-Studio_Ghibli_Logo.svg_.png');
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
}